<html>
  <head>
    <style>
      h1 {
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 100%;
      }
      p {
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-size: 100%;
      }
    .footer {
      position: sticky;
      left: 0;
      bottom: 0;
      font-family: 'Times New Roman', Times, serif;
      font-size: large;
      width: 100%;
      background-color: #7A1EA8;
      color: white;
      text-align: center;
      }

    body {
      margin:0;height:2000px;
    }

    .icon-bar {
      position: fixed;
      top: 75%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .icon-bar a {
      display: block;
      text-align: center;
      padding: 16px;
      transition: all 0.3s ease;
      color: white;
      font-size: 20px;
    }

    .icon-bar a:hover {
      background-color: #000;
    }

    .content {
      margin-left: 75px;
      font-size: 30px;
    }

    </style>
  </head>

</html>